html {
  width:auto;
  height: auto;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

#activate-btn {
  display: flex;
  flex: 1;
  border: 3px solid black;
}

#power-button {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.off {
  filter: saturate(0%) opacity(70%);
}

.on {
  filter: saturate(100%) 
}

#power-button:hover {
  cursor: pointer;
}

#power-button:active {
  filter: invert(20%)
}
